#使用3.7版的設定檔
version: "3.7"
#定義service，一個service可以用來啟動多個container
services: 
    db: # 定義一個service叫做 db (postgresSQL)
        image: postgres:latest # 基於哪個image
        restart: always # 遇到error要不要重啟
        environment: # 有關於postgresSQL的環境變數設定(要去看docker官網)
            POSTGRES_DB: postgres
            POSTGRES_USER: user # Postgre User
            POSTGRES_PASSWORD: password # Postgre Password
            PGDATA: /var/lib/postgresql/data
        volumes: # docker 相關資料存放的位置，新的container可以保有舊的資料
            - ./db:/var/lib/postgresql/data
        ports: # 開啟port端（對外對內的）
            - "5432:5432"
    pgadmin: # 定義一個service叫做pgadmin (pgadmin)
        image: dpage/pgadmin4:latest 
        restart: always
        environment:
            PGADMIN_DEFAULT_EMAIL: email # PGAdmin User Email
            PGADMIN_DEFAULT_PASSWORD: password # PGAdmin User Password
            PGADMIN_LISTEN_PORT: 80
        ports:
            - "8080:80"
        volumes:
            - pgadmin-data:/var/lib/pgadmin
        links: #與db做連結 稱db的別名為pgsql-server
            - "db:pgsql-server"
volumes:
  pgadmin-data: